*{
	padding: 0;
	margin: 0;
}
header{
	background-color: #121B2A;
	padding: 10px 0;

}
.wrapper{
	/*border: 1px solid green;*/
	width: 80%;
	margin: 0 auto;
	overflow: hidden;

}
.logo{
	width: 15%;
	/*border: 1px solid white;*/
	float: left;

}
.logo img{
	width: 100%;
}
.menu{
	width: 70%;
	/*border: 1px solid white;*/
	float: right;
	margin-top: 30px;

}

.menu ul{
	float: right;

}
.menu ul li{
	float: left;
	list-style: none;
	
}
.menu ul li a{
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	color: white;
	transition: .5s;
	float: left;
}
.menu ul li:last child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #0078BD;


}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*min-height: 300px;*/
	background-position: center;

}
.banner-content{
	margin-top: 200px;
	margin-bottom: 50px;
	width: 45%;
}

	/*banner start*/
.banner-content p:first-child{
	color: white;
	font-size: 28px;
	font-family: sans-serif;

}
.banner-content h2{
	color: #007588;
	font-size: 30px;
	font-family: sans-serif;

}
.banner-content p:nth-last-child(2){
	color: white;
	font-size: 18px;
	line-height: 1.5;

}
.banner-content button{
	color:#5A5A5A; 
	font-size:18px;
	width: 45%;
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: white;
	text-transform: uppercase;

}

.banner-content button span{
	background-color: blue;
	padding: 4px 10px;
	border-radius: 50%;
	color: white;
	margin-left: 10px;
	
}
/*banner end*/
/*service start*/
.service{
	background-color: #121B2C;
	padding: 50px 0;

}
.single{
	
	width: 28%;
	padding: 10px 20px;
	float: left;
	border-right: 1px solid white;
	margin-left:5px;


}
.single:last-child{
	border-right: 0;

}
.title{
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;

}
.icon{
	width: 25%;
	float: left;

}
.icon img{
	width: 100%;

}
.content{
	
	width: 70%;
	float: left;
	margin-top: 10px;
	font-size: 18px;
	font-weight: normal;

}
.content h1{
	color: white;
	text-transform: capitalize;
	font-family: sans-serif;

}
.content h2{
	color: #007588;
	text-transform: capitalize;
	font-family: sans-serif;
	font-size: 23px;
	font-weight: normal;


}
.para{
	color: white;
	font-family: sans-serif;
	line-height: 1.4;
	font-size: 14px;
}
/*service end*/

/*footer starts*/
footer{
	background-color: #121B2C;
	padding: 5px 0;
	border-top: 1px solid black;

}
.wrapper1{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;

}

.footer_left{
    width: 70%;
    float: left;
}
.nav{
	margin-top: 30px;
}

.nav ul li{
	float: left;
	
	margin-top: 10px;

}
.nav ul li a{
	text-decoration: none;
	color: white;
	padding: 0px 15px;
	display: block;
	transition: .5s;
	float: left;
	font-family: sans-serif;
	border-right: 1px solid white; 
	font-size: 13px;
	list-style: none;
	
	
}
.nav ul li:last-child a {
 	border-right:0;
 }

.footer-logo{
    margin-top: 15px;
	width: 25%;
	float: left;

}
.footer-logo img{
    width: 100%;
	float: left;
	margin-left: 10px;

}
.wrapper1 p{
	color: white;
	padding: 5px 15px;
	float: left;
	
}
